<!DOCTYPE html>



<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>

	<section>
		<div class="container">

			<a th:href="@{/user/signup}" style="margin: 20px 0"
				class="btn btn-primary">ユーザ登録</a>
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">SN</th>
						<th scope="col">メール</th>
						<th scope="col">名前</th>
						<th scope="col">削除</th>
						<th scope="col">更新</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="user, iStat : ${users}">
						<th scope="row" th:text="${iStat.index + 1}"></th>
						<td th:text="${user.user_email}"></td>
						<td th:text="${user.user_name}"></td>

						<td><a href=""
							th:href="@{/admin/users/delete/{id}(id=${user.user_id})}"
							class="btn btn-danger">削除</a></td>
						<td><a href=""
							th:href="@{/admin/users/update/{id}(id=${user.user_id})}"
							class="btn btn-warning">更新</a></td>

					</tr>
				</tbody>
			</table>
		</div>
	</section>




</body>
</html>