<!DOCTYPE html>



<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>

	<section>
		<div class="container">

			<!--Section: Block Content-->
			<section class="mt-5 mb-4">

				<!--Grid row-->
				<div class="row">

					<!--Grid column-->
					<div class="col-lg-8 mb-4">

						<!-- Card -->
						<div class="card wish-list pb-1">
							<div class="card-body">
							<form method="post" th:action="@{/payNow}" th:object="${order}">

								<h5 class="mb-2">お届け先</h5>

								<!-- Grid row -->
								<div class="row">

									<!-- Grid column -->
									<div class="col">

										<!-- First name -->
										<div class="md-form md-outline mb-0 mb-lg-4">
											<label for="name">名前</label> <input type="text"
												id="name" th:field="*{name}"
												th:value="${session?.loginUser?.user_name}" 
												class="form-control mb-0 mb-lg-2">
										</div>

									</div>

									<!-- Grid column -->

								</div>
								<!-- Grid row -->

								<!-- Address Part 1 -->
								<div class="md-form md-outline mt-2">
									<label for="form14">住所</label> 
									<input type="text"
									th:field="*{address}"
									th:value="${session?.loginUser?.getAddress}"
										required id="form14"
										placeholder="House number and street name"
										class="form-control">
								</div>

								<!-- Phone -->
								<div class="md-form md-outline mt-2">
									<label for="form18">携帯電話</label> <input type="text"
									th:field="*{mobailNo}"
									th:value="${session?.loginUser?.getMobail}"
										minlength="10" maxlength="10" required id="form18"
										class="form-control">
								</div>

								<!-- Email address -->
								<div class="md-form md-outline mt-2">
									<label for="form19">メール</label> <input type="email"
									th:field="*{email}"
									th:value="${session?.loginUser?.getUser_email}"
										required id="form19" class="form-control">
								</div>



							</div>
						</div>
						<!-- Card -->

					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-4">

						<!-- Card -->
						<div class="card mb-4">
							<div class="card-body">

								<h5 class="mb-3">注文内容</h5>

								<ul class="list-group list-group-flush">
									<li
										class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
										商品の小計 <span>\<span th:text="${total}"></span></span>
									</li>
									<li
										class="list-group-item d-flex justify-content-between align-items-center px-0">
										配送料・手数料 <span>\<span>0</span>
									</li>
									<li
										class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
										<div>
											<strong>ご請求額</strong> <strong>
												<p class="mb-0">(税込)</p>
											</strong>
										</div> <span><strong>\<span th:text="${total}"></span></strong></span>
									</li>
								</ul>

								
									<button type="submit"
										class="btn btn-primary btn-block waves-effect waves-light">注文を確定</button>
								</form>

							</div>
						</div>
						<!-- Card -->

				</div>
				<!--Grid row-->

			</section>
			<!--Section: Block Content-->


		</div>
	</section>




</body>
</html>